@import './common';

.search-form{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: teal;
}

label {
    padding: 2px;
    color: white;
}

.gallery {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 20px;
        margin: 40px;
}

.photo-card {
    height: 500px;
    display: flex;
    justify-content: center;
    border: 1px grey solid;
    border-radius: 5px;
}

img {
    display: inline-flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.info-item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.info {
    height: 100px;
    display: flex;
    justify-content: center;
}

.load-more {
    display: none;
    padding: 30px;
    width: 100%;
    background-color: green;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;

    &.show {
        display: block;
    }
}

#infiniteScroll {
    margin: 10px;
    width: 15px;
    height: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    height: 500px;
}