@import './common';

.photo-card {
    height: 500px;
}

img {
    height: 400px;
    width: auto;
    object-fit: contain;
}

.info-item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.info {
    display: flex;
}

.load-more {
    display: none;

    &.show {
        display: block;
    }
}

#infiniteScroll {
    margin: 10px;
    width: 15px;
    height: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}