@import './common';

.info-item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.info {
    display: flex;
}

.load-more {
    display: none;
}

.load-more.show {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}